* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Century Gothic";
	
}

.bg {
	background-image: url(../img/macbook.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

.container nav ul li a,
.login,
.login a {
	color: white;
}



.login {
	float: right;
	padding: 25px;
	margin-right: 20px;
	margin-top: -100px;
	box-sizing: border-box;
}

.login a{
	text-decoration: none;
	padding: 5px;
	letter-spacing: 2px;
}

.login a:hover{
	color: gray;
	transition: 0.7 all;
	border-bottom: 2px;
}

header {
	position: fixed;
	width: 100%;
	height: 20vh;
	background-color: rgba(0,0,0,0.5);
}

nav {
	text-align: center;
	width: 100%;
	height: 100;
}

nav ul {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
	margin-top: 10px;
	padding: 20px;
	list-style: none;
}

nav ul li a{
	text-decoration: none;
	font-size: 18px;
	display: block;
	overflow: hidden;
}

nav ul li a:hover{
	color: gray;
}



.topnav input[type=text] {
	font-size: 15px;
	font-family: "Century Gothic";
	width: 10%;
}

.topnav input[value=search] {
	padding: 5px;
}


@media screen and (max-device-width: 480px) {
h3 { font-size: 1.2em;
}